body {
    background: #ffc;
}
#canvas {
    background: url(./img/transparent.png);
    border: solid 2px black;
    float: left;
    margin-left: 20px;
}
ul{
    margin: 2px 0;
    padding: 0px;
    list-style-type: none;
    float: left;
}
ul li {
    display: block;
    margin-left: 5px;
}
button,
input {
    width: 100px;
    height: 40px;
    box-sizing:
    border-box;
}
img {
    display: block;
}
